
# Virtual Environment
.venv38
.venv39


# Python Packages
ai2thor-docker
alfred
alfworld
alfworld_data_storage
downward


# vscode configs
__pycache__


# etc
logs
temp
hydra_configs
outputs
sandbox.py
test_print.txt